<div class="card mb-5 mt-5">
    <h5 class="card-header">Usuarios</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre Usuario</th>
                            <th scope="col">Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios; let i =index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{usuario.name}}</td>
                            <td>
                                {{usuario.nombreRol}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 mt-5">
                <button class="btn btn-dark" (click)="open(content)"> Agregar Usuario</button>
            </div>

        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nuevo usuario</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        Nombre Usuario:
        <input class="form-control" [(ngModel)]="name"><br> Correo para acceder:
        <input class="form-control" [(ngModel)]="email"> <br> Contraseña:

        <input type="password" class="form-control" [(ngModel)]="password"><br>

        <select [(ngModel)]="opcionSeleccionado" (change)="capturar()">
  <option value="0">Selecciona una opción</option>
  <option [ngValue]="rol.id" *ngFor="let rol of roles">
    {{rol.nombreRol}}
  </option>
</select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="GuardarUser()">Guardar Usuario</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">cancelar</button>
    </div>
</ng-template>