<header class="main_menu">
    <div class="d-flex p-2 bd-highlight">

        <div class="p-2 flex-grow-1 bd-highlight"><img [src]="acessoRouteFavIcon" class="img-fluid logo"></div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight"><a class="btn_1 " (click)="logout()">Logout</a></div>

    </div>

</header>

<!-- <section class="banner_part" style="background-image: url('../../assets/img/banner_bg.png');">
  [style.background]="'url(/images/' + trls.img + ')'"-->
<section class="banner_part" [ngStyle]="{'background-image': obtenerSource()}">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-sm-12 pl-6 pt-5">
                <br><br>
                <h1 class="d-none  d-lg-block" [ngStyle]="{'color':colorTextoTitulo}">{{TituloPagina}}</h1>
                <div class="banner_img  d-lg-block">
                    <img [src]="acessoRouteLogotipo">
                </div>
            </div>
            <div class="col-lg-6 col-md-7 pt-4">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <ng-container *ngFor="let paginaEstatica of paginasEstaticas; let i=index">
                            <ng-container>
                                <ng-container>

                                </ng-container>
                            </ng-container>
                            <hr>
                            <h5 (click)="enviarId(paginaEstatica._id)"> <span style="font-size:20px; font-weight:bold">{{i+1}}-</span>&nbsp;{{paginaEstatica.TituloMenu}}</h5>
                            <hr>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer_part" [ngStyle]="{'background-color': colorFoot}">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-4 col-lg-4">
                <div class="single_footer_part">
                    <a href="index.html" class="footer_logo_iner"> <img [src]="acessoRouteFavIcon" class="logo"> </a>
                    <p [ngStyle]="{'color': colorTextoFooter}">Un sistema de gestión de contenido es una herramienta que le ayuda a construir un sitio web sin necesidad de escribir todo el código desde cero (o incluso saber cómo codificar).
                    </p>
                </div>
            </div>
            <div class="col-sm-2 col-md-8 col-lg-8">
                <p [ngStyle]="{'color': colorTextoFooter}"> Hay mucha variedad, hay mucho que decir de este boom de la tecnología y mucha experiencia y sabiduría en cada una de estas frases ¿Verdad? Por lo tanto hoy en día se hace necesario la adaptación a los cambios que se generan en nuestro
                    entorno en cuanto a innovación tecnológica y que son razones de interés para cualquier persona, empresa o institución en cualquier ámbito.<br> - Enupal -</p>
            </div>
        </div>
    </div>
</footer>