<div class="card mb-5">
    <h5 class="card-header">Nueva Entrada</h5>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mt-3 mb-3">
                <!-- <ckeditor [editor]="Editor" (change)="onChange($event)"></ckeditor> -->
                <label for="titulo">Titulo</label>
                <input [(ngModel)]="Titulo" class="form-control" id="titulo" placeholder="Pagina n">
            </div>
            <div class="col-md-6 mt-3 mb-3">
                <label for="autor">Titulo en menu</label>
                <input [(ngModel)]="TituloMenu" class="form-control" id="autor">
            </div>
            <div class="col-md-6 mt-3 mb-3">
                <label for="titulo">Pagina padre</label>
                <input [(ngModel)]="PaginaPadre" class="form-control" id="titulo" placeholder="Pagina n">
            </div>

            <div class="col-md-6 mt-3 mb-3">
                <label for="autor">URL:</label>
                <input [(ngModel)]="Url" class="form-control" id="autor">
            </div>

            <div class="col-md-6 mt-3 mb-3">
                <label for="inputPassword4">Palabras clave</label>
                <input [(ngModel)]="PalabrasClave" class="form-control">
            </div>
            <div class="col-md-6 mt-3 mb-3">
                <label for="Descripcion">Descripcion</label>
                <textarea [(ngModel)]="Descripcion" class="form-control" id="Descripcion" rows="3"></textarea>
            </div>
            <div class="col-md-12 mt-3 mb-3">
                <div class="checkbox-items">
                    <ng-container *ngFor="let item of checkboxesDataList">
                        <div class="col-md-12 mt-3 mb-3">
                            <input type="checkbox" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
                        </div>
                    </ng-container>
                </div>
            </div>


            <div class="col-sm-12 mt-3 mb-5">
                <div class="custom-file mb-3">
                    Ingresa tus shortcuts.&nbsp; <i class="far fa-question-circle" (click)="open(content)"></i>
                    <ckeditor [editor]="Editor" (change)="onChange($event)" data="<p>Escibe aqui tus shortcuts</p>"></ckeditor>

                </div>
                <br><br>
            </div>
            <br><br>
            <div class="col-sm-12 m-2">
                <button class="btn btn-dark" (click)="guardar()">Guardar</button>
            </div>

        </div>

    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">¿Cómo usar los shortcuts?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <p>Estos son los formatos para ingresarlos:</p>
                    <p><b>Imagenes:</b><br> {{ '{' }}"tipo":"imagen", "id":"5ec48e20ddd68e095c2969c1"{{ '}' }}</p>
                    <p><b>Videos:</b><br> {{ '{' }}"tipo":"video", "id":"5ec48e20ddd68e095c2969c1"{{ '}' }}</p>
                    <p><b>Enlaces de descarga:</b><br> {{ '{' }}"tipo":"enlace", "id":"5ec48e20ddd68e095c2969c1"{{ '}' }}</p>
                    <p><b>Galeria de imagenes:</b><br> {{ '{' }}"tipo":"galeria", "imagenes":["5ece2bfe55b5fa325cea797c","5ed372beb377414124007835"]{{ '}' }}
                    </p>
                    <p><b>Posts:</b><br> {{ '{' }}"tipo":"post", "id":"5ec48e20ddd68e095c2969c1"{{ '}' }}</p><br><br>
                    <b>Los id puedes obtenerlos en nuestra seccion de recursos</b>
                </div>
            </div>

        </div>
    </div>
</ng-template>